* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #fff;
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    height: 100vh;
    background-color: #040408;

    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    text-align: center;
    padding-bottom: 40vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    
    h1 {
        margin-bottom: 0.5em;
        font-size: 5rem;
        position: relative;
        
        /* Gradient text */
        background: linear-gradient(0deg, #ff7e5f, #fee87b);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0.9;
    }
    
    h1::after {
        /* small outline */
        content: "Reverse Breakout";
        position: absolute;
        inset: 0;
        z-index: 2;
        -webkit-text-stroke: 2px #935757;
        color: transparent;
    }
    
    button#startButton {
        margin-top: 1em;
        padding: 0.5em 1em;
        font-size: 1.5rem;
        background-image: linear-gradient(0deg, #ff9665, #fed375);
        border: none;
        border-radius: 5px;
        color: black;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s;
        border: 2px solid #935757;
    }

    span#scoreDisplay {
        font-size: 1.5rem;
    }
    
    a#githubIcon {
        position: fixed;
        top: 10px;
        right: 10px;
        width: 48px;
        height: 48px;
        z-index: 10;
        color: white;
    }
}


canvas {
    display: absolute;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

[data-game-ui] {
    display: none;
}


.hud {
    position: fixed;
    inset: 0;
    font-size: 1.2rem;
    z-index: 5;
    padding: 15px;

    .score {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .time {
        position: absolute;
        width: 100%;
        top: 10px;
        text-align: center;

        font-size: 2.0rem;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
    }
    
    .energy-bar {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 320px;
        height: 30px;
        border: 2px solid #333;
        border-radius: 5px;
        background-color: #111;
        
        svg {
            height: 100%;
            padding: 1px;
            color: rgb(236, 232, 174);
            position: absolute;
            z-index: 10;
            right: 0;
        }
        path {
            fill: currentColor;
            stroke: black;
            stroke-width: 2;
        }
        .energy-fill {
            --color-1: #efd87b;
            --color-2: #ecca66;
            --separation: 8px;
        
            transition: width 0.05s ease-in-out;
            height: 100%;
            background-image: repeating-linear-gradient(
                -45deg,
                var(--color-1),
                var(--color-1) var(--separation),
                var(--color-2) var(--separation),
                var(--color-2) calc(var(--separation) * 2)
            );
            border-radius: 3px;
        
            position: absolute;
            top: 0;
        }
    }

    .modifiers {
        position: absolute;
        bottom: 10px;
        left: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .modifier {
        display: flex;
        flex-direction: column;
        width: 15rem;
        background-color: #111;
        border-radius: 10px;
        padding: 5px;
        overflow: hidden;
        position: relative;

        .modifier-fill {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 4px;
            background-color: #222;
            
            .modifier-fill-inner {
                height: 100%;
                background-color: #6ae29c;
                transition: width 0.1s ease-in-out;
                width: 50%;
            }
        }

        .label {
            font-weight: normal;
            font-size: 0.9rem;
            color: #ccc;
            padding: 0 5px;
        }
        .content {
            font-size: 1.5rem;
            font-family: 'Courier New', Courier, monospace;
            font-weight: bold;
            display: flex;
            flex-direction: row;
            gap: 0.5rem;

            svg {
                width: 1.2em;
                height: 1.2em;
                vertical-align: middle;
                color: #ccc;
            }
        }
    }
}