* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #fff;
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    height: 100vh;
    background-color: #040408;

    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    text-align: center;
    padding-bottom: 40vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    
    h1 {
        margin-bottom: 0.5em;
        font-size: 5rem;
        position: relative;
        
        /* Gradient text */
        background: linear-gradient(0deg, #ff7e5f, #fee87b);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0.9;
    }
    
    h1::after {
        /* small outline */
        content: "Reverse Breakout";
        position: absolute;
        inset: 0;
        z-index: 2;
        -webkit-text-stroke: 2px #935757;
        color: transparent;
    }
    
    button#startButton {
        margin-top: 1em;
        padding: 0.5em 1em;
        font-size: 1.5rem;
        background-image: linear-gradient(0deg, #ff9665, #fed375);
        border: none;
        border-radius: 5px;
        color: black;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s;
        border: 2px solid #935757;
    }

    span#scoreDisplay {
        font-size: 1.5rem;
    }
    
    a#githubIcon {
        position: fixed;
        top: 10px;
        right: 10px;
        width: 48px;
        height: 48px;
        z-index: 10;
        color: white;
    }
}


canvas {
    display: absolute;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

[data-game-ui] {
    display: none;
}


.hud {
    position: fixed;
    inset: 0;
    font-size: 1.2rem;
    z-index: 5;
    padding: 15px;

    .score {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .time {
        position: absolute;
        width: 100%;
        top: 10px;
        text-align: center;

        font-size: 2.0rem;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
    }
    
    .energy-bar {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 320px;
        height: 30px;
        border: 2px solid #333;
        border-radius: 5px;
        background-color: #111;
        
        svg {
            height: 100%;
            padding: 1px;
            color: rgb(236, 232, 174);
            position: absolute;
            z-index: 10;
            right: 0;
        }
        path {
            fill: currentColor;
            stroke: black;
            stroke-width: 2;
        }
        .energy-fill {
            --color-1: #efd87b;
            --color-2: #ecca66;
            --separation: 8px;
        
            transition: width 0.05s ease-in-out;
            height: 100%;
            background-image: repeating-linear-gradient(
                -45deg,
                var(--color-1),
                var(--color-1) var(--separation),
                var(--color-2) var(--separation),
                var(--color-2) calc(var(--separation) * 2)
            );
            border-radius: 3px;
        
            position: absolute;
            top: 0;
        }
    }

    .modifiers {
        position: absolute;
        bottom: 10px;
        left: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .modifier {
        display: flex;
        flex-direction: column;
        width: 15rem;
        background-color: #111;
        border-radius: 10px;
        padding: 5px;
        overflow: hidden;
        position: relative;

        .modifier-fill {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 4px;
            background-color: #222;
            
            .modifier-fill-inner {
                height: 100%;
                background-color: #6ae29c;
                transition: width 0.1s ease-in-out;
                width: 50%;
            }
        }

        .label {
            font-weight: normal;
            font-size: 0.9rem;
            color: #ccc;
            padding: 0 5px;
        }
        .content {
            font-size: 1.5rem;
            font-family: 'Courier New', Courier, monospace;
            font-weight: bold;
            display: flex;
            flex-direction: row;
            gap: 0.5rem;

            svg {
                width: 1.2em;
                height: 1.2em;
                vertical-align: middle;
                color: #ccc;
            }
        }
    }

    .abilities {
        position: absolute;
        bottom: 10px;
        left: 10px;
        display: flex;
        flex-direction: row;
        gap: 10px;

        .ability {
            background-color: #111;
            cursor: pointer;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px;
            border: 2px solid #333;

            border-radius: 0 10px 10px 10px;
            &:has(.count.visible) {
                border-top-right-radius: 0;
            }

            .keybind, .count {
                position: absolute;
                bottom: 100%;
                color: #aaa;
                background-color: #111;
                border: 2px solid #333;
                border-bottom: none;
                border-radius: 5px 5px 0 0;
                padding: 0 5px;
                line-height: 1.2;
                font-weight: bold;
                margin: 0;
            }

            .keybind {
                left: -2px;
                font-size: 1.25rem;
                height: 1.2rem;
                font-family: 'Courier New', Courier, monospace;
            }
            .count {
                right: -2px;
                font-size: 1rem;
                height: 0.8rem;
                display: none;
                &.visible {
                    display: block;
                }
            }

            svg {
                width: 4rem;
                height: 4rem;
                color: hsl(var(--ability-hue), 70%, 80%);
            }

            .ability-hint {
                position: absolute;
                bottom: 100%;
                left: -2px;
                margin-bottom: 1.5rem;

                opacity: 0;
                pointer-events: none;
                transform: translateY(-3px);
                transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
            }

            &:hover .ability-hint {
                opacity: 1;
                transform: translateY(0);
                pointer-events: auto;
            }

            transition: opacity 0.2s ease-in-out, filter 0.2s ease-in-out;
            
            opacity: 0.1;
            pointer-events: none;
            filter: grayscale(100%);

            &[data-count]:not([data-count="0"]) {
                opacity: 1;
                pointer-events: auto;
                filter: grayscale(0%);
            }
            &[data-count="2"] {
                box-shadow: 0 3px 0 -2px #222, 0 3px 0 #333;
                translate: 0 -3px;
            }
            // Add another shadow for each additional count
            &[data-count="3"] {
                box-shadow: 0 3px 0 -2px #222, 0 3px 0 #333, 0 6px 0 -2px #222, 0 6px 0 #333;
                translate: 0 -6px;
            }
            &[data-count="4"] {
                box-shadow: 0 3px 0 -2px #222, 0 3px 0 #333, 0 6px 0 -2px #222, 0 6px 0 #333, 0 9px 0 -2px #222, 0 9px 0 #333;
                translate: 0 -9px;
            }
        }

        .new-ability-hint {
            position: absolute;
            bottom: 100%;
            left: 0;
            margin-bottom: 1.5rem;
            padding: 10px 12px !important;

            .title {
                font-size: 1rem;
                color: #aaa;
            }

            opacity: 0;
            transform: translateY(-5px);
            pointer-events: none;
            transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

            &.visible {
                opacity: 1;
                transform: translateY(0);
                pointer-events: auto;
            }
        }

        .ability-hint {
            width: max-content;

            background-color: #111;
            border: 2px solid #333;
            border-radius: 5px;
            padding: 5px 12px;
            
            display: flex;
            flex-direction: column;

            h1 {
                margin: 0;
                font-size: 1.5rem;
            }

            > span {
                font-size: 1rem;
                color: #ccc;
            }
            .action {
                color: hsl(var(--ability-hue), 70%, 70%);
            }
            .name {
                color: hsl(var(--ability-hue), 70%, 80%);
            }

            pre {
                display: inline;
                padding: 0 3px;
            }
        }
    }
}