body {
    margin: 0;
    color: #fff;
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    height: 100vh;
    background-color: #040408;

    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    text-align: center;
    padding-bottom: 40vh;
}

h1 {
    margin-bottom: 0.5em;
    font-size: 5rem;
    position: relative;
    
    /* Gradient text */
    background: linear-gradient(0deg, #ff7e5f, #fee87b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.9;
}

h1::after {
    /* small outline */
    content: "Reverse Breakout";
    position: absolute;
    inset: 0;
    z-index: 2;
    -webkit-text-stroke: 2px #935757;
    color: transparent;
}

button#startButton {
    margin-top: 1em;
    padding: 0.5em 1em;
    font-size: 1.5rem;
    background-image: linear-gradient(0deg, #ff9665, #fed375);
    border: none;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 2px solid #935757;
}

span#scoreDisplay {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 1.5rem;
    z-index: 10;
}

canvas {
    display: absolute;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}